{% extends 'michelinapp/base.html' %}
{%load static%}
{%block content%}

<header class="main-header">
  <a href="{% url 'index' %}" class="">
    <div class="michelin_logo">
      <img src="{% static 'michelinapp/logo.png' %}">
    </div>
  </a>
</header>

<br>

<div class="lined_thick">
  <div class="ml-5 mr-5">
    <form class="navbar-form pull-left" action="{% url 'recipe' %}">
      <input type="text" class="span2" name="ingredient" id="search_form" value="" data-role="tagsinput" >
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</div>

<br>
<br>

<div class="notebook">
  Hello hahh
</div>

{%endblock%}