{% extends 'michelinapp/base.html' %}
{% load static %}
{% block content %}

<div class="lined_thick">
    <h1>Instructions</h1>
</div>

<div id="book">
    <canvas id="pageflip-canvas"></canvas>
    <section class="skills pages">
        <div>
            <h2>skills to learn!</h2>
            {% for i in learn %}
            <p>{{i}}</p>
            {% endfor %}
        </div>
    </section>
    <div class="pages">
        <section>
            <div>
                <h2>ingredients</h2>
                {% for i in ingredients %}
                <p>{{i}}</p>
                {% endfor %}
            </div>
        </section>
        
        {% for r in result %}
        <section>
            <div>
                <h2>Step {{forloop.counter}}</h2>
                {% if r.1 == 0 %}
                <h3>Suitable for child.</h3>
                {% else %}
                <h3>Not Suitable for child.</h3>
                {% endif %}
                <p>{{r.0}}</p>
            </div>
        </section>
        {% endfor %}
    </div>
</div>


<div class="left_arrow">
    <a href="{% url 'index' %}">
        <img src="{% static 'michelinapp/left.png' %}">
    </a>
</div>
{%endblock%}

{% block js %}
    <script type="text/javascript" src="{% static 'michelinapp/pageflip.js' %}"></script>
{% endblock js %}
