.main-header{
    background-color: #E0E0E0;
    display: flex;
    flex-wrap: wrap;
}

.michelin_logo{
    flex: 0 0 20%;
    padding: 10px;
}

.pans_logo{
    flex: 0 0 80%;
    padding: 10px;
    img
}